nav {
    height: 100vh;
    width: 250px;
    background-color: #00cec9;
    margin: 0;
    padding: 100px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    padding: 15px 25px;
    cursor: pointer;
}

nav li:hover {
    background-color: #81ecec;
}

nav li.active {
    background-color: #81ecec;
}


nav a {
    text-decoration: none;
    color: #dfe6e9;
}

nav li.active a {
    color: #636e72;
}

nav li:hover a {
    color: #636e72;
}
