.Card {
    background-color: #fff;
    border: 1px solid #00cec9;
    border-radius: 8px;
    width: 345px;
}

.Card p {
    margin: 0;
}

.Title {
    padding: 16px;
    display: flex;
    align-items: center;
}

.Icon {
    width: 40px;
    height: 40px;
    background-color: #ff7675;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.Image {
    width: 100%
}

.Intro {
    padding: 16px;
}

.ShowBtn {
    color: #00cec9;
    padding: 0 16px 16px;
    text-align: right;
}

.ShowBtn span {
    cursor: pointer;
}

.Content {
    padding: 0 16px 16px;
}

h2 {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
}

h4, .content {
    color: #2d3436;
    margin: 0;
}

.Intro {
    color: #636e72;
}
